#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Authors:
#   Ben O'Hara <boahra@gmail.com>
#

[client]
user                  = root
password              =
host                  = 127.0.0.1
port                  = 3306

[mysql]
prompt                = '\\u@\\h\\_[\\d]\\n>\_'
# @note mysql must be run from the home directory for this
# the grc colourising to work - for grc 1.4 you can put the
# path to home like ~/.my.grc but this doesn't work on 1.4
# Another potential alternative is to put a "mysql" file in
# a ~/.grc directory as grc always checks that
#pager = grcat .my.grc
default-character-set = utf8
show-warnings
safe-updates

